<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Playlist Details</h1>
<img src="https://cdn.dribbble.com/users/3547568/screenshots/14395014/music_jpeg_4x.jpg" height="140px" width="140px">
	<form action="addPlaylist" method="post">
	<label>Playlist name:</label>
		<input type="text" name="name" /> 
		
		<br>

		<div th:each="song:${songs}">
			<input type="checkbox" th:name="songs" th:value="${song.id}"/>
			<label th:text="${song.name}"></label>
		</div>

		<input type="submit" value="ADD PLAYLIST" />
	</form>

</body>
</html>